body {
	font-family: 'Muli', sans-serif;
	background:#000;
}

button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-color:#333;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #575757;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #757575;
  text-decoration: none;
}

#buttons {
	text-align: center;
}

#overlay { 
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	display:none;
	background:#000;
}

#slide_title, #bullets {
	cursor:move;
}

#loader { 
  position:absolute; 
}

#link_container {
	text-align: center;
}

#slide_content_container {
	display:none;
	color: white; 
}

#slide_content_container #slide_image{ 
	display: block;
	margin-left: auto;
	margin-right: auto;
	border:5px solid darkgray;
}

#slide_content_container h2 span { 
	display: block;
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
}

#slide_content_container ul {
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	padding-top:20px;
	padding-bottom:20px;
	margin:40px;
}