<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
	<meta name="author" content="{{ site.author.name }}">

	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Le styles -->
	<link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
	<meta name="google-site-verification" content="kDocWs0sn-rSS4ZMLMUEB-acRNbLDup2Z0YpySwA_rs" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  </head>

  <body>
	<div class="container">
		<div class="row">
			<div class="span9">
				<ul class="nav nav-pills span10">
				  <li>
				    <a href="/"><i class="icon-home"></i> Home</a>
				  </li>
				  <li><a href="/about.html">About</a></li>
				  <li><a href="/videos.html"><i class="icon-film"></i>Video Portfolio</a></li>
				  <li><a href="http://twitter.com/bwest">@bwest</a></li>
					
				</ul>
			</div>
			<div class="span3">
				<span><h1><small>Brandon's Blog</small></h1></span>
			</div>
		</div>
		{{ content }}
	</div>

	{% include JB/analytics %}
  <!-- Put this just before the closing body tag -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  
  </body>
</html>
